# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
# generated native folders
# NOTE: We track ios because we added a Widget Extension + native bridge code.
# If you haven't customized Android, you can keep /android ignored (see below).

# iOS build artifacts (keep repo clean)
ios/Pods/
ios/build/
ios/DerivedData/
ios/xcuserdata/
ios/**/*.xcuserstate
ios/.xcode.env.local
*.ipa
*.xcarchive
*.dSYM*
*.dSYM.zip

# Android (OPTIONAL)
# If you are NOT customizing Android native code, keep it ignored:
android/
# If you ARE customizing Android native code, comment the line above and ignore artifacts instead:
# android/.gradle/
# android/build/
# android/app/build/
# android/local.properties


# iOS local artifacts
ios/**/.xcode.env
ios/**/*.bak.*
ios/**/*.DISABLED
